.flex-container{
    display: flex;
}
.flex-container>div{
    width: 50%;
}
.content1-login{
    padding: 4%;
    background: rgba(194, 221, 217, 0.74);
}
.img-logo-splash{
    width:100%;
}
.content2-longin{
    padding: 2%;
}
.img-login{
    width: 50%;
    display: block;
    margin: auto;
    margin-bottom: 5%;
}
.titulo-splash{
    font-family: Inter;
    color: #358F80;
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 2px #999;
    margin-bottom: 2%;
}
#button-Agregar {
    width: 100%;
    font-weight: bold;
    color: #fff;
    background: #358F80;
    padding: 3%;
    font-family: Roboto;
    font-size: 18px;
    border-radius: 15px;
    box-shadow: 4px 4px #888888;
}