<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="../css/login.css">

</head>

<body>
    <v-app id="app-login">
        <v-main>
            <div class="flex-container">
                <div class="content1-login">
                    <v-img class="img-logo-splash" src="../assets/img/img_logo_web.png"></v-img>
                </div>
                <form @submit.prevent="inicarSesion" class="content2-longin">
                    <h1 class="titulo-splash">BIENVENIDO A GREENWASTE</h1>
                    <v-img class="img-login" src="../assets/img/img_login_web.png"></v-img>
                    <v-text-field class="input-login" filled outlined label="Correo Electronico"
                        prepend-inner-icon="mdi-email" v-model="usuario.correo"></v-text-field>
                    <v-text-field class="input-login" filled outlined label="Contraseña" prepend-inner-icon="mdi-lock" v-model="usuario.password">
                    </v-text-field>
                    <!---<v-btn @click="btnIniciarSesion()"  id="button-Agregar">Iniciar Sesión</v-btn>-->
                    <button type="submit" id="button-Agregar">Iniciar Sesión</button>
                </form>
            </div>
        </v-main>
    </v-app>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/2.5.7/vuetify.min.js"
        integrity="sha512-BPXn+V2iK/Zu6fOm3WiAdC1pv9uneSxCCFsJHg8Cs3PEq6BGRpWgXL+EkVylCnl8FpJNNNqvY+yTMQRi4JIfZA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
        integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        //? hacemos referencia a nuestro recursos de la api
        let url = 'http://127.0.0.1:6969/users/';

        new Vue({
            el: '#app-login',
            vuetify: new Vuetify(),
            data() {
                return {
                    usuarios: [],
                    usuario: {
                        idusuario: '',
                        nombre: '',
                        apellidopaterno: '',
                        apellidomaterno:'',
                        telefono:'',
                        correo:'',
                        password:'',
                        idrol:''
                        
                   
                    }
                }
            },
            methods:{
                async inicarSesion(){
                    if(!this.usuario.correo && !this.usuario.password){
                        alert("Debes agregar todos los datos!");
                    }else{
                        var datosCarga={
                        correo:this.usuario.correo,
                        password:this.usuario.password
                        };
                        await axios.get(url + `login/${this.usuario.correo}/${this.usuario.password}`)
                        .then(response=>{
                            console.log(response);
                            console.log(response.length);
                            if(response.data.length > 0){
                                window.open('dashboard.html')
                            
                            }else{
                                alert("Verifica tus credenciales!");
                            }
                        })
                        .catch(error=>{
                        });
                    }
                }
            }
        });
    </script>
</body>

</html>