<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="../css/dashboard.css">
    <link rel="stylesheet" href="../css/contentDashboard.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/materiales.css">
</head>

<body>

    <v-app id="view-panel-materiales">
        <v-main>
            <nav>
                <div class="logo-name">
                    <div class="logo-image">
                        <img src="../assets/img/img_logo_web.png" alt="">
                    </div>
                    <span class="logo_name">GREEN WASTE</span>
                </div>
                <div class="menu-items">
                    <ul class="nav-links">
                        <li><a href="dashboard.html">
                                <i class="uil uil-estate"></i>
                                <span class="link-name"><b>Dahsboard</b></span>
                            </a></li>
                        <li><a href="Panel_Usuarios.html">
                                <i class="uil uil-users-alt"></i>
                                <span class="link-name"><b>Usuarios</b></span>
                            </a></li>
                        <li><a href="Panel_Canjees.html">
                                <i class="uil uil-trash-alt"></i>
                                <span class="link-name"><b>Canjes</b></span>
                            </a></li>
                        <li><a href="Panel_Materiales.html">
                                <i class="uil uil-file-copy-alt"></i>
                                <span class="link-name"><b>Materiales</b></span>
                            </a></li>
                        <li><a href="Panel_Premios.html">
                                <i class="uil uil-gift"></i>
                                <span class="link-name"><b>Premios</b></span>
                            </a></li>
                        <li><a href="#">
                                <i class="uil uil-signout"></i>
                                <span class="link-name"><b>Cerrar Sesión</b></span>
                            </a></li>

                    </ul>
                    <ul class="logout-mode">
                        <li class="mode">
                            <div class="mode-toggle">
                                <span class="switch"></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <section class="dashboard">
                <div class="top">
                    <i class="uil uil-bars sidebar-toggle"></i>
                    <div class="title">
                        <i class="uil uil-tachometer-fast-alt"></i>
                        <span class="text">Dashboard</span>
                    </div>
                    <img src="../assets/img/img_login_web.png" alt="">
                </div>
                <div class="dash-content">
                    <div id="content2-main">
                        <sidebar-view :drawer="drawer" />
                        <div class="grid-container">
                            <div class="grid-item gridItem3">
                                <v-img src="../assets/img/img_panelMateriales_web.png" class="my-2 imgPanelMaterial" contain height="400" />
                            </div>
                            <div class="grid-item">
                                <h1 id="title-panel">PANEL DE CONTROL DE MATERIALES</h1>
                                <v-btn class=" pa-5 cyan darken-3" block dark color="#358F80" @click="formNuevo()">
                                    <v-icon dark>mdi-plus</v-icon>Agregar nuevo Material
                                </v-btn>
                            </div>
                        </div>
                    </div>
                    <v-card class="mx-auto mt-5" max-width="1500" elevation="4">
                        <!-- Tabla y formulario -->
                        <v-simple-table class="mx-auto mt-5" max-width="1500" elevation="4">
                            <template v-slot:default>
                                <thead>
                                    <tr class="cyan darken-4">
                                        <th class="white--text text-center">NO.</th>
                                        <th class="white--text text-center">NOMBRE</th>
                                        <th class="white--text text-center">COSTO</th>
                                        <th class="white--text text-center">ACCIONES</th>                  
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr v-for="material in materiales" :key="materiales.idmaterial">
                                        <td class=" font-weight-bold text-center">{{ material.idmaterial }}</td>
                                        <td class=" font-weight-bold text-center">{{ material.nombre}}</td>
                                        <td class=" font-weight-bold text-center">{{ material.costo }}</td>
                                        <td class=" text-center">
                                            <v-btn dark class="amber darken-3" small
                                                @click="formEditar(material.idmaterial,material.nombre,material.costo)">
                                                <v-icon>mdi-pencil</v-icon>Editar
                                            </v-btn>
                                            <v-btn dark class="red accent-3" small @click="borrar(material.idmaterial)">
                                                <v-icon>mdi-delete</v-icon>Eliminar
                                            </v-btn>
                                        </td>
                                    </tr>
                                </tbody>
                            </template>
                        </v-simple-table>
                    </v-card>
                    <v-dialog v-model="dialog" max-width="800">
                        <v-card>
                                <v-form><br>
                                    <v-container class="content-form-materiales">
                                        <v-card-title class="title-form-materiales">AGREGA MATERIAL</v-card-title>
                                        <img id="img-materiales" src="../assets/img/img_formulario_agregarMateriales.png" alt="">
                                        <input v-model="material.idmaterial" hidden></input>
                                        <v-row>
                                            <v-col cols="12" md="6">
                                                <v-text-field filled outlined v-model="material.nombre" 
                                                    label="Nombre del Material" prepend-inner-icon="mdi-gift" solo
                                                    required>
                                                    {{material.nombre}}</v-text-field>
                                            </v-col>
                                            <v-col cols="12" md="6">
                                                <v-text-field filled outlined v-model="material.costo" 
                                                    label="Costo del material" prepend-inner-icon="mdi-cash-multiple" solo
                                                    required>
                                                    {{material.costo}}</v-text-field>
                                            </v-col>
                                        </v-row>
                                        <v-row>
                                            <v-col cols="12" md="6">
                                                <v-btn @click="guardar()" id="button-Agregar" type="submit">Guardar</v-btn>
                                            </v-col>
                                            <v-col cols="12" md="6">
                                                <v-btn @click="dialog=false" id="button-Cancelar">Cancelar</v-btn>
                                            </v-col>
                                        </v-row>
                                    </v-container>   <br>               
                            </v-form>
                        </v-card>
                    </v-dialog>
                </div>
            </section>
        </v-main>
    </v-app>
    <script src="../js/dashboard.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/2.5.7/vuetify.min.js"
        integrity="sha512-BPXn+V2iK/Zu6fOm3WiAdC1pv9uneSxCCFsJHg8Cs3PEq6BGRpWgXL+EkVylCnl8FpJNNNqvY+yTMQRi4JIfZA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
        integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        //? hacemos referencia a nuestro recursos de la api
        let url = 'http://127.0.0.1:6969/materials/';

        new Vue({
            el: '#view-panel-materiales',
            vuetify: new Vuetify(),
            data() {
                return {
                    materiales: [],
                    dialog: false,
                    operacion: '',
                    material: {
                        idmaterial: null,
                        nombre: '',
                        costo: '',
                    }
                }
            },
            created() {
                this.mostrar()
            },
            methods: {
                //MÉTODOS PARA EL CRUD
                mostrar: function () {
                    axios.get(url + '/read')
                        .then(response => {
                            this.materiales = response.data;
                        })
                },
                crear: function () {
                    let parametros = { nombre: this.material.nombre, costo: this.material.costo };
                    if (!parametros.nombre || !parametros.costo) {
                        alert("Debes agregar todos los datos!");
                        return;
                    }
                    axios.get(url + `create/${parametros.nombre}/${parametros.costo}`)
                        .then(response => {
                            this.mostrar();
                        }).catch(error => {
                            alert("Insertaste datos incorrectos!");
                        });
                    this.material.nombre = "";
                    this.material.costo = "";
                },
                editar: function () {
                    let parametros = { nombre: this.material.nombre, costo: this.material.costo, idmaterial: this.material.idmaterial };
                    if (!parametros.nombre || !parametros.costo) {
                        alert("Debes agregar todos los datos!");
                        return;
                    }
                    axios.get(url + `update/${parametros.idmaterial}/${parametros.nombre}/${parametros.costo}`)
                        .then(response => {
                            this.mostrar();
                        })
                        .catch(error => {
                            alert("Insertaste datos incorrectos!");
                            console.log(error);
                        });
                },
                borrar: function (idmaterial) {
                    Swal.fire({
                        title: '¿Confirma eliminar el registro?',
                        confirmButtonText: `Confirmar`,
                        showCancelButton: true,
                    }).then((result) => {
                        if (result.isConfirmed) {
                            //procedimiento borrar
                            axios.get(url + `/delete/${idmaterial}`)
                                .then(response => {
                                    this.mostrar();
                                });
                            Swal.fire('¡Eliminado!', '', 'success')
                        } else if (result.isDenied) {
                        }
                    });
                },

                //Botones y formularios
                guardar: function () {
                    if (this.operacion == 'crear') {
                        this.crear();
                    }
                    if (this.operacion == 'editar') {
                        this.editar();
                    }
                    this.dialog = false;
                },
                formNuevo: function () {
                    this.dialog = true;
                    this.operacion = 'crear';
                    this.material.nombre = "";
                    this.material.costo = "";
                },
                formEditar: function (idmaterial, nombre, costo) {
                    //capturamos los datos del registro seleccionado y los mostramos en el formulario
                    this.material.idmaterial = idmaterial;
                    this.material.nombre = nombre;
                    this.material.costo = costo;

                    this.dialog = true;
                    this.operacion = 'editar';
                }
            }
        });
    </script>
</body>

</html>