<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="../css/dashboard.css">
    <link rel="stylesheet" href="../css/contentDashboard.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/materiales.css">
</head>

<body>
    <v-app id="view-panel-usuarios">
        <v-main>
            <nav>
                <div class="logo-name">
                    <div class="logo-image">
                        <img src="../assets/img/img_logo_web.png" alt="">
                    </div>
                    <span class="logo_name">GREEN WASTE</span>
                </div>
                <div class="menu-items">
                    <ul class="nav-links">
                        <li><a href="dashboard.html">
                                <i class="uil uil-estate"></i>
                                <span class="link-name"><b>Dahsboard</b></span>
                            </a></li>
                        <li><a href="Panel_Usuarios.html">
                                <i class="uil uil-users-alt"></i>
                                <span class="link-name"><b>Usuarios</b></span>
                            </a></li>
                        <li><a href="Panel_Canjees.html">
                                <i class="uil uil-trash-alt"></i>
                                <span class="link-name"><b>Canjes</b></span>
                            </a></li>
                        <li><a href="Panel_Materiales.html">
                                <i class="uil uil-file-copy-alt"></i>
                                <span class="link-name"><b>Materiales</b></span>
                            </a></li>
                        <li><a href="Panel_Premios.html">
                                <i class="uil uil-gift"></i>
                                <span class="link-name"><b>Premios</b></span>
                            </a></li>
                        <li><a href="#">
                                <i class="uil uil-signout"></i>
                                <span class="link-name"><b>Cerrar Sesión</b></span>
                            </a></li>

                    </ul>
                    <ul class="logout-mode">
                        <li class="mode">
                            <div class="mode-toggle">
                                <span class="switch"></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <section class="dashboard">
                <div class="top">
                    <i class="uil uil-bars sidebar-toggle"></i>
                    <div class="title">
                        <i class="uil uil-tachometer-fast-alt"></i>
                        <span class="text">Dashboard</span>
                    </div>
                    <img src="../assets/img/img_login_web.png" alt="">
                </div>
                <div class="dash-content">
                    <div id="content2-main">
                        <sidebar-view :drawer="drawerUsuario" />
                        <div class="grid-container">
                            <div class="grid-item">
                                <v-img src="../assets/img/img_panelUsuarios_web.png" class="my-2" contain height="400" />
                            </div>
                            <div class="grid-item">
                                <h1 id="title-panel">PANEL DE CONTROL DE USUARIOS</h1>
                                <v-btn class=" pa-5 cyan darken-3" block dark color="#358F80" @click="formNuevo()">
                                    <v-icon dark>mdi-plus</v-icon>Agregar nuevo Usuario
                                </v-btn>
                            </div>
                        </div>
                    </div>
                    <v-card class="mx-auto mt-5" max-width="1500" elevation="4">
                        <!-- Tabla y formulario -->
                        <v-simple-table class="mx-auto mt-5" max-width="1500" elevation="4">
                            <template v-slot:default>
                                <thead>
                                    <tr class="cyan darken-4">
                                        <th class="white--text text-center">NO.</th>
                                        <th class="white--text text-center">NOMBRE</th>
                                        <th class="white--text text-center">APELLIDO PATERNO</th>
                                        <th class="white--text text-center">APELLIDO MATERNO</th>
                                        <th class="white--text text-center">TELEFONO</th>
                                        <th class="white--text text-center">CORREO</th>
                                        <th class="white--text text-center">CONTRASEÑA</th>
                                        <th class="white--text text-center">ROL</th>
                                        <th class="white--text text-center">ACCIONES</th>                
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr v-for="usuario in usuarios" :key="usuarios.idusuario">
                                        <td class=" font-weight-bold text-center">{{ usuario.idusuario }}</td>
                                        <td class=" font-weight-bold text-center">{{ usuario.nombre }}</td>
                                        <td class=" font-weight-bold text-center">{{ usuario.apellidopaterno }}</td>
                                        <td class=" font-weight-bold text-center">{{ usuario.apellidomaterno }}</td>
                                        <td class=" font-weight-bold text-center">{{ usuario.telefono }}</td>
                                        <td class=" font-weight-bold text-center">{{ usuario.correo }}</td>
                                        <td class=" font-weight-bold text-center">{{ usuario.psw }}</td>
                                        <td class=" font-weight-bold text-center">{{ usuario.idrol }}</td>

                                        <td class=" text-center">
                                            <v-btn dark class="amber darken-3" small
                                                @click="formEditar(usuario.idusuario,usuario.nombre,usuario.apellidopaterno,usuario.apellidomaterno,usuario.telefono,usuario.correo,usuario.psw,usuario.idrol)">
                                                <v-icon>mdi-pencil</v-icon>Editar
                                            </v-btn>
                                            <v-btn dark class="red accent-3" small @click="borrar(usuario.idusuario)">
                                                <v-icon>mdi-delete</v-icon>Eliminar
                                            </v-btn>
                                        </td>
                                    </tr>
                                </tbody>
                            </template>
                        </v-simple-table>
                    </v-card>
                    <v-dialog v-model="dialog" max-width="800">
                        <v-card>
                                <v-form><br>
                                    <v-container class="content-form-materiales">
                                        <v-card-title class="title-form-materiales">AGREGA USUARIO</v-card-title>
                                        <img id="img-materiales" src="../assets/img/img_agregarUsuario_web.png" alt=""><br>
                                        <input v-model="usuario.idusuario" hidden></input>
                                        <v-row>
                                            <v-col cols="12" md="6">
                                             
                                                <v-text-field filled outlined v-model="usuario.nombre" 
                                                    label="Ingresa tu nombre" prepend-inner-icon="mdi-account-circle">
                                                    {{usuario.nombre}}</v-text-field>
                                            </v-col>
                                            <v-col cols="12" md="6">
                                                <v-text-field filled outlined v-model="usuario.apellidopaterno" 
                                                    label="Ingresa tu apellido paterno" prepend-inner-icon="mdi-account-circle">
                                                    {{usuario.apellidopaterno}}</v-text-field>
                                            </v-col>
                                        </v-row>
                                        <v-row>
                                            <v-col cols="12" md="6">
                                                <v-text-field filled outlined v-model="usuario.apellidomaterno" 
                                                    label="Ingresa tu apellido Materno" prepend-inner-icon="mdi-account-circle">
                                                    {{usuario.apellidomaterno}}</v-text-field>
                                            </v-col>
                                            <v-col cols="12" md="6">
                                                <v-text-field filled outlined v-model="usuario.telefono" 
                                                    label="Ingresa tu telefono" prepend-inner-icon="mdi-phone">
                                                    {{usuario.telefono}}</v-text-field>
                                            </v-col>
                                        </v-row>
                                        <v-row>
                                            <v-col cols="12" md="6">
                                                <v-text-field filled outlined v-model="usuario.correo" 
                                                    label="Ingrese su correo electronico" prepend-inner-icon="mdi-email">
                                                    {{usuario.correo}}</v-text-field>
                                            </v-col>
                                            <v-col cols="12" md="6">
                                                <v-text-field filled outlined v-model="usuario.psw" 
                                                    label="Ingrese una contraseña" prepend-inner-icon="mdi-lock">
                                                    {{usuario.psw}}</v-text-field>
                                            </v-col>
                                        </v-row>
                                    
                                        <!--<input v-model="usuario.idrol" hidden></input>--> 
                                        <v-row>
                                            <v-col cols="12" md="6">
                                                <v-btn @click="guardar()" id="button-Agregar" type="submit">Guardar</v-btn>
                                            </v-col>
                                            <v-col cols="12" md="6">
                                                <v-btn @click="dialog=false" id="button-Cancelar">Cancelar</v-btn>
                                            </v-col>
                                        </v-row>
                                    </v-container>   <br>               
                            </v-form>
                        </v-card>
                    </v-dialog>
                </div>
            </section>
        </v-main>
    </v-app>
    <script src="../js/dashboard.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/2.5.7/vuetify.min.js"
        integrity="sha512-BPXn+V2iK/Zu6fOm3WiAdC1pv9uneSxCCFsJHg8Cs3PEq6BGRpWgXL+EkVylCnl8FpJNNNqvY+yTMQRi4JIfZA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
        integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
        
        //? hacemos referencia a nuestro recursos de la api
        let url = 'http://127.0.0.1:6969/users/';

        new Vue({
            el: '#view-panel-usuarios',
            vuetify: new Vuetify(),
            data() {
                return {
                    usuarios: [],
                    dialog: false,
                    operacion: '',
                    usuario: {
                        idusuario: null,
                        nombre: '',
                        apellidopaterno: '',
                        apellidomaterno:'',
                        telefono:'',
                        correo:'',
                        psw:'',
                        idrol:''
                        
                   
                    }
                }
            },
            created() {
                this.mostrar()
            },
            methods: {
                //MÉTODOS PARA EL CRUD
                mostrar: function () {
                    axios.get(url + '/readAdmin')
                        .then(response => {
                            this.usuarios = response.data;
                        })
                },
                crear: function(){
                    let parametros ={nombre:this.usuario.nombre, apellidopaterno:this.usuario.apellidopaterno, apellidomaterno:this.usuario.apellidomaterno, telefono:this.usuario.telefono, correo:this.usuario.correo, psw:this.usuario.psw, idrol:2}
                    if(!parametros.nombre || !parametros.apellidopaterno || !parametros.apellidomaterno || !parametros.telefono || !parametros.correo || !parametros.psw || !parametros.idrol){
                        alert("Debes agregar todos los datos");
                        return;
                    }
                    axios.get(url +`create/${parametros.nombre}/${parametros.apellidopaterno}/${parametros.apellidomaterno}/${parametros.telefono}/${parametros.correo}/${parametros.psw}/${parametros.idrol}`)
                        .then(response=>{
                            this.mostrar();
                        }).catch(error=>{
                            alert("Insertates datos incorrectos");
                        });
                    this.usuario.nombre="";
                    this.usuario.apellidopaterno="";
                    this.usuario.apellidomaterno="";
                    this.usuario.telefono="";
                    this.usuario.correo="";
                    this.usuario.psw="";
                },
                editar: function () {
                    let parametros = { nombre:this.usuario.nombre, apellidopaterno:this.usuario.apellidopaterno, apellidomaterno:this.usuario.apellidomaterno, telefono:this.usuario.telefono, correo:this.usuario.correo, psw:this.usuario.psw, idrol:2 , idusuario: this.usuario.idusuario};
                    if (!parametros.nombre || !parametros.apellidopaterno || !parametros.apellidomaterno || !parametros.telefono || !parametros.correo || !parametros.psw || !parametros.idrol) {
                        alert("Debes agregar todos los datos!");
                        return;
                    }
                    axios.get(url + `update/${parametros.idusuario}/${parametros.nombre}/${parametros.apellidopaterno}/${parametros.apellidomaterno}/${parametros.telefono}/${parametros.correo}/${parametros.psw}/${parametros.idrol}`)
                        .then(response => {
                            this.mostrar();
                        })
                        .catch(error => {
                            alert("Insertaste datos incorrectos!");
                            console.log(error);
                        });
                },
                borrar: function (idusuario) {
                    Swal.fire({
                        title: '¿Confirma eliminar el registro?',
                        confirmButtonText: `Confirmar`,
                        showCancelButton: true,
                    }).then((result) => {
                        if (result.isConfirmed) {
                            //procedimiento borrar
                            axios.get(url + `/delete/${idusuario}`)
                                .then(response => {
                                    this.mostrar();
                                });
                            Swal.fire('¡Eliminado!', '', 'success')
                        } else if (result.isDenied) {
                        }
                    });
                },

                guardar: function () {
                    if (this.operacion == 'crear') {
                        this.crear();
                    }
                    if (this.operacion == 'editar') {
                        this.editar();
                    }
                    this.dialog = false;
                },
                formNuevo: function () {
                    this.dialog = true;
                    this.operacion = 'crear';
                    this.usuario.nombre="";
                    this.usuario.apellidopaterno="";
                    this.usuario.apellidomaterno="";
                    this.usuario.telefono="";
                    this.usuario.correo="";
                    this.usuario.psw="";
                    this.usuario.idrol="";
                },
                formEditar: function (idusuario,nombre,apellidopaterno,apellidomaterno,telefono,correo,psw,idrol) {
                    //capturamos los datos del registro seleccionado y los mostramos en el formulario
                    this.usuario.idusuario=idusuario;
                    this.usuario.nombre = nombre;
                    this.usuario.apellidopaterno=apellidopaterno;
                    this.usuario.apellidomaterno=apellidomaterno;
                    this.usuario.telefono=telefono;
                    this.usuario.correo=correo;
                    this.usuario.psw=psw;
                    this.usuario.idrol=idrol;
                    this.dialog = true;
                    this.operacion = 'editar';
                }
            }
        });
    </script>
    </body>
</html>