<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/splashScreen.css">
    <title>Document</title>
</head>
<body>
    <main class="preload" id="preload">
        <div class="logo">
            <img class="logo" src="../assets/img/img_logo_web.png" alt="logo">
            <h1 class="titulo-splash">GREEN WASTE</h1>
        </div>
        <div class="loader-frame">
            <div class="loader1" id="loader1"></div>
            <div class="loader2" id="loader2"></div>
        </div>
    </main>
    <script src="../js/splashScreen.js"></script>
</body>
</html>