.flex-container{
    display: flex;
    flex-direction: row;
  }
  .flex-container>div{
    width: 50%;
  }
  .content1-login{
    padding: 4%;
    background: rgba(194, 221, 217, 0.74);
  }
  .img-logo-splash{
    width:100%;
  }
  .content2-longin{
    padding: 4%;
  }
  .titulo-splash{
    font-family: Roboto;
    color: #358F80;
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 2px #999;
    margin-bottom: 2%;
  }
  .img-login{
    width: 50%;
    display: block;
    margin: auto;
    margin-bottom: 5%;
  }
  #img-login{
    width: 50%;
    display: block;
    margin: auto;
    margin-bottom: 5%;
  }
  a{
    text-decoration: none;
    display: inline-block;
  }
  #button-Agregar {
    width: 100%;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background: #358F80;
    padding: 1%;
    font-family: Roboto;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: 2px 4px #888888;
  }
  #button-Agregar:hover {
    color: #358F80;
    background: #fff;
    border-style: solid;
    border-color: #358F80;
  }
  /* Diseño para celulares */


@media (max-width: 780px) {
  .flex-container{
    flex-direction: column;
  }
 .content1-login{
  display: none;
 }
 .titulo-splash{
  font-size: 40px;
}
   
}
@media (max-width: 560px) {
  .flex-container{
    flex-direction: column;
  }
 .content1-login{
  display: none;
 }
 .titulo-splash{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
}
}
@media (max-width: 430px) {
  .flex-container{
    flex-direction: column;
  }
 .content1-login{
  display: none;
 }
 .titulo-splash{
  font-size: 25px;
}
 
 
    
}

  
