* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

.preload {
    width: 100%;
    height: 100%;
    background: #fff;
    margin: 0;
    top: 0;
    left: 0;
    z-index: -1;
}

.logo {
    max-width: 60%;
    margin: auto auto 0px auto;
    font-size: 50px;
    text-shadow: -1px 2px 2px #000;
    text-align: center;
    color: azure;
}
.titulo-splash{
    font-family:Arial, Helvetica, sans-serif;
    color: #358F80;
    font-size: 70px;
    text-align: center;
    text-shadow: 3px 3px #999;
    margin-top: -4%;
  }

.loader-frame {
    width: 70px;
    height: 70px;
    margin: auto;
    position: relative;
}

.loader1,
.loader2 {
    position: absolute;
    border: 5px solid transparent;
    border-radius: 50%;
}

.loader1 {
    width: 70px;
    height: 70px;
    border-top: 5px solid #999;
    border-bottom: 5px solid #999;
    animation: clockwisespin 2s linear 3;
}

.loader2 {
    width: 60px;
    height: 60px;
    border-left: 5px solid #358F80;
    border-right: 5px solid #358F80;
    top: 5px;
    left: 5px;
    animation: anticlockwisespin 2s linear 3;
}


@keyframes clockwisespin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes anticlockwisespin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


@media (max-width: 780px) {
    .logo {
        max-width:80%;
    }
     
  }
  @media (max-width: 560px) {
    .logo {
        max-width:100%;
    }
   .titulo-splash{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size:40px;
  }
  }
  @media (max-width: 430px) {
    .logo {
        max-width:100%;
    }
   
   .titulo-splash{
    font-size: 40px;
  }
   
   
      
  }
  
    